### Create SQL Database

### Object Method Database (Preferred)

In [10]:
import sqlalchemy
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import MetaData, Table, Column, Date, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
import datetime

engine = create_engine('sqlite:///school.db', echo=True)
Base = declarative_base()
meta = MetaData()

from sqlalchemy import Sequence
Column(Integer, Sequence('user_id_seq'), primary_key=True)

class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, Sequence('user_id_seq'), primary_key=True)
    name = Column(String(50))
    fullname = Column(String(50))
    nickname = Column(String(50))
    lastname = Column(String(50))
    datetime = Column(DateTime(50), default=datetime.datetime.now())

    def __repr__(self):
        return "<User(id='%s', name='%s', fullname='%s', nickname='%s',  lastname='%s', datetime='%s')>" % (
                                self.id, self.name, self.fullname, self.nickname, self.lastname, self.datetime)
    
Base.metadata.create_all(engine)

metadata = sqlalchemy.schema.MetaData(bind=engine,)
users = sqlalchemy.Table('users', metadata, autoload=True)

2020-12-21 17:01:19,531 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-21 17:01:19,532 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,532 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-21 17:01:19,533 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,534 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2020-12-21 17:01:19,534 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,537 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2020-12-21 17:01:19,537 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,539 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2020-12-21 17:01:19,540 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,540 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2020-12-21 17:01:19,541 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,542 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2020-12-21 17:01:19,543 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,545 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2020-12-21 17:01:19,545 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,547 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2020-12-21 17:01:19,548 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 17:01:19,549 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2020-12-21 17:01:19,550 INFO sqlalchemy.engine.base.Engine ()

### Table Method Database

In [8]:
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import MetaData, Table, Column, Date, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
import datetime

engine = create_engine('sqlite:///school.db', echo=True)
Base = declarative_base()
meta = MetaData()

users = Table(
   'users', meta,
    Column('id', Integer(), primary_key=True, nullable=False),
    Column('name', String()),
    Column('fullname', String()),
    Column('lastname', String()),
    Column('nickname', String()),
    Column('datetime', DateTime(), default=datetime.datetime.now()))

    
meta.create_all(engine)

2020-12-21 16:59:59,166 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-21 16:59:59,167 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:59:59,167 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-21 16:59:59,168 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:59:59,168 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2020-12-21 16:59:59,169 INFO sqlalchemy.engine.base.Engine ()

In [4]:
## Insert Several Rows into users table

conn = engine.connect()
metadata = MetaData(engine)

conn.execute(users.insert(), [
   {'id':1, 'name':'Rajiv', 'fullname': 'Rajiv Kamir',  'lastname' : 'Khamir', 'nickname' : 'Raj'},
   {'id':2, 'name':'Komal', 'fullname': 'Komal Bhandari', 'lastname' : 'Bhandari', 'nickname' : 'Mal'},
   {'id':3, 'name':'Abdul', 'fullname': 'Abdul Sattar', 'lastname' : 'Sattar', 'nickname' : 'A'},
   {'id':4, 'name':'Priya', 'fullname': 'Priya Rajhans', 'lastname' : 'Rajhans', 'nickname' : 'Pri'},
])

2020-12-21 16:58:40,304 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name, fullname, nickname, lastname) VALUES (?, ?, ?, ?, ?)
2020-12-21 16:58:40,305 INFO sqlalchemy.engine.base.Engine ((1, 'Rajiv', 'Rajiv Kamir', 'Raj', 'Khamir'), (2, 'Komal', 'Komal Bhandari', 'Mal', 'Bhandari'), (3, 'Abdul', 'Abdul Sattar', 'A', 'Sattar'), (4, 'Priya', 'Priya Rajhans', 'Pri', 'Rajhans'))
2020-12-21 16:58:40,306 INFO sqlalchemy.engine.base.Engine COMMIT

### Insert Pandas DataFrame into SQL Database

In [2]:
import pandas as pd
contacts = pd.read_csv('50-contacts.csv')

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric
from sqlalchemy.orm import sessionmaker
import pandas as pd


# Set up of the engine to connect to the database
# the urlquote is used for passing the password which might contain special characters such as "/"
engine = create_engine('sqlite:///school.db', echo=True)
conn = engine.connect()
Base = declarative_base()

#Declaration of the class in order to write into the database. This structure is standard and should align with SQLAlchemy's doc.
class User(Base):
    __tablename__ = 'contacts'
    id = Column(Integer, primary_key=True)
    firstname = Column(String(500))
    lastname = Column(String(500))
    company_name = Column(String(500))
    street = Column(String(500))
    city = Column(String(500))
    county = Column(String(500))
    state = Column(String(500))
    zipcode  = Column(Integer())
    telephone  = Column(String(500))
    email = Column(String(500))

    def __repr__(self):
        return "(id='%s', Date='%s', Type='%s', Value='%s')" % (self.id, self.Date, self.Type, self.Value)
Base.metadata.create_all(engine)

# Set up of the table in db and the file to import
fileToRead = '50-contacts.csv'
tableToWriteTo = 'contacts'

# Panda to create a lovely dataframe
df_to_be_written = pd.read_csv(fileToRead)
# The orient='records' is the key of this, it allows to align with the format mentioned in the doc to insert in bulks.
listToWrite = df_to_be_written.to_dict(orient='records')

metadata = sqlalchemy.schema.MetaData(bind=engine,reflect=True)
table = sqlalchemy.Table(tableToWriteTo, metadata, autoload=True)

# Open the session
Session = sessionmaker(bind=engine)
session = Session()

# Insert the dataframe into the database in one bulk
conn.execute(table.insert(), listToWrite)

# Commit the changes
session.commit()

# Close the session
session.close()

2020-12-21 16:58:02,420 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-21 16:58:02,421 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,421 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-21 16:58:02,422 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,425 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("contacts")
2020-12-21 16:58:02,425 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,427 INFO sqlalchemy.engine.base.Engine
CREATE TABLE contacts (
	id INTEGER NOT NULL,
	firstname VARCHAR(500),
	lastname VARCHAR(500),
	company_name VARCHAR(500),
	street VARCHAR(500),
	city VARCHAR(500),
	county VARCHAR(500),
	state VARCHAR(500),
	zipcode INTEGER,
	telephone VARCHAR(500),
	email VARCHAR(500),
	PRIMARY KEY (id)
)


2020-12-21 16:58:02,427 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,429 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-21 16:58:02,434 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-12-21 16:58:02,435 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,437 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("contacts")
2020-12-21 16:58:02,437 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,439 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'contacts' AND type = 'table'
2020-12-21 16:58:02,440 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,441 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("contacts")
2020-12-21 16:58:02,442 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,442 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'contacts' AND type = 'table'
2020-12-21 16:58:02,443 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,444 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("contacts")
2020-12-21 16:58:02,445 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,446 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("contacts")
2020-12-21 16:58:02,446 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,447 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'contacts' AND type = 'table'
2020-12-21 16:58:02,448 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,449 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2020-12-21 16:58:02,449 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,451 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2020-12-21 16:58:02,452 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,453 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2020-12-21 16:58:02,454 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,455 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2020-12-21 16:58:02,456 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,457 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2020-12-21 16:58:02,457 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,459 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2020-12-21 16:58:02,460 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,461 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2020-12-21 16:58:02,461 INFO sqlalchemy.engine.base.Engine ()
2020-12-21 16:58:02,464 INFO sqlalchemy.engine.base.Engine INSERT INTO contacts (firstname, lastname, company_name, street, city, county, state, zipcode, telephone, email) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-12-21 16:58:02,465 INFO sqlalchemy.engine.base.Engine (('James', 'Butt', 'Benton, John B Jr', '6649 N Blue Gum St', 'New Orleans', 'Orleans', 'LA', 70116, '504-845-1427', 'jbutt@gmail.com'), ('Josephine', 'Darakjy', 'Chanay, Jeffrey A Esq', '4 B Blue Ridge Blvd', 'Brighton', 'Livingston', 'MI', 48116, '810-374-9840', 'josephine_darakjy@darakjy.org'), ('Art', 'Venere', 'Chemel, James L Cpa', '8 W Cerritos Ave #54', 'Bridgeport', 'Gloucester', 'NJ', 8014, '856-264-4130', 'art@venere.org'), ('Lenna', 'Paprocki', 'Feltz Printing Service', '639 Main St', 'Anchorage', 'Anchorage', 'AK', 99501, '907-921-2010', 'lpaprocki@hotmail.com'), ('Donette', 'Foller', 'Printing Dimensions', '34 Center St', 'Hamilton', 'Butler', 'OH', 45011, '513-549-4561', 'donette.foller@cox.net'), ('Simona', 'Morasca', 'Chapman, Ross E Esq', '3 Mcauley Dr', 'Ashland', 'Ashland', 'OH', 44805, '419-800-6759', 'simona@morasca.com'), ('Mitsue', 'Tollner', 'Morlong Associates', '7 Eads St', 'Chicago', 'Cook', 'IL', 60632, '773-924-8565', 'mitsue_tollner@yahoo.com'), ('Leota', 'Dilliard', 'Commercial Press', '7 W Jackson Blvd', 'San Jose', 'Santa Clara', 'CA', 95111, '408-813-1105', 'leota@hotmail.com')  ... displaying 10 of 50 total bound parameter sets ...  ('Emerson', 'Bowley', 'Knights Inn', '762 S Main St', 'Madison', 'Dane', 'WI', 53711, '608-658-7940', 'emerson.bowley@bowley.org'), ('Blair', 'Malet', 'Bollinger Mach Shp & Shipyard', '209 Decker Dr', 'Philadelphia', 'Philadelphia', 'PA', 19132, '215-794-4519', 'bmalet@yahoo.com'))
2020-12-21 16:58:02,468 INFO sqlalchemy.engine.base.Engine COMMIT

/Users/Mango/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.

In [ ]:
### Update data Example

#Assigns unique ID and updates data based on ID

# @app.route('/')
# def index():
#     if 'id' in session.keys() == True:
#         pass
#     else:
#         session['id'] = uuid.uuid4().hex[:16]
#         id = session['id']

#     mydata = Data(id, None, None, None, None, 250, 250, None, None, None,
#                  'https://live.staticflickr.com/65535/40830745703_6430007c6a_b.jpg',
#                  'https://live.staticflickr.com/5816/23486046021_96b0529547_b.jpg', 
#                  'https://live.staticflickr.com/705/23272768780_200797f5cf_b.jpg',
#                  'https://live.staticflickr.com/622/31379579370_8409d5b337_b.jpg',
#                  'https://live.staticflickr.com/509/31784388130_81aec36062_b.jpg',
#                  'https://live.staticflickr.com/4586/38049127124_de39d7f24b_b.jpg', 
#                  'https://live.staticflickr.com/1959/44587024794_19c01982fa_b.jpg', 
#                  'https://live.staticflickr.com/276/30909743094_f15db2426e_b.jpg',
#                  'https://live.staticflickr.com/1978/30429922717_26c8cec30d_b.jpg',
#                  'https://live.staticflickr.com/1978/43694954610_a90cf35f87_b.jpg',
#                  'https://live.staticflickr.com/90/277840874_9983fe8bbe_o.jpg',
#                  'https://live.staticflickr.com/544/20256001381_260f1f296f_b.jpg',
#                  'https://live.staticflickr.com/1933/45199962262_da696b1a97_b.jpg',
#                  'https://live.staticflickr.com/2922/32436807393_1ef839813c_b.jpg',
#                  'https://live.staticflickr.com/4687/39376518292_b68567da60_b.jpg')

#     db.session.add(mydata)
#     db.session.commit()
#     return render_template('index.html')


# ##Update data by using ID
# def quote_text():
#     var_id = session['id']
#     data = db.session.query(Data).filter(Data.id == var_id).first()

#     data.quote_text = str(request.form['Quote_Text'])
#     db.session.commit()

### Query SQL Database

In [11]:
from sqlalchemy.orm import sessionmaker
session = sessionmaker(bind=engine)
session=session()

for nickname, lastname in session.query(User.nickname, User.lastname):
     print(nickname, lastname)

2020-12-21 17:01:25,571 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-21 17:01:25,572 INFO sqlalchemy.engine.base.Engine SELECT users.nickname AS users_nickname, users.lastname AS users_lastname
FROM users
2020-12-21 17:01:25,573 INFO sqlalchemy.engine.base.Engine ()
Raj Khamir
Mal Bhandari
A Sattar
Pri Rajhans

In [12]:
for u in session.query(User).order_by(User.id)[1:3]:
    print(u)

2020-12-21 17:01:27,468 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname, users.lastname AS users_lastname, users.datetime AS users_datetime
FROM users ORDER BY users.id
 LIMIT ? OFFSET ?
2020-12-21 17:01:27,469 INFO sqlalchemy.engine.base.Engine (2, 1)
<User(id='2', name='Komal', fullname='Komal Bhandari', nickname='Mal',  lastname='Bhandari', datetime='None')>
<User(id='3', name='Abdul', fullname='Abdul Sattar', nickname='A',  lastname='Sattar', datetime='None')>

In [13]:
for nickname, lastname in session.query(User.nickname, User.lastname).order_by(User.lastname)[1:3]:
    print(nickname, lastname)

2020-12-21 17:01:27,997 INFO sqlalchemy.engine.base.Engine SELECT users.nickname AS users_nickname, users.lastname AS users_lastname
FROM users ORDER BY users.lastname
 LIMIT ? OFFSET ?
2020-12-21 17:01:27,998 INFO sqlalchemy.engine.base.Engine (2, 1)
Raj Khamir
Pri Rajhans

In [14]:
for u in session.query(User).filter(User.fullname=='Rajiv Kamir'):
    print(u)

2020-12-21 17:01:28,466 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname, users.lastname AS users_lastname, users.datetime AS users_datetime
FROM users
WHERE users.fullname = ?
2020-12-21 17:01:28,467 INFO sqlalchemy.engine.base.Engine ('Rajiv Kamir',)
<User(id='1', name='Rajiv', fullname='Rajiv Kamir', nickname='Raj',  lastname='Khamir', datetime='None')>

## Normal SQL Queries
[Go back to the Table of Contents](#Contents)

In [ ]:
#SQL
# Remove Duplicate Entries
# An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

#Your code here; find the duplicate entry
cur.execute("""SELECT firstName, lastName, telephone, COUNT(*) 
               FROM contactInfo
               GROUP BY 1,2,3
               HAVING COUNT(*) > 1;""").fetchall()
[('Jane', 'Evans', 3259909290, 2)]
#Your code here; delete the duplicate entry
cur.execute('''DELETE FROM contactInfo WHERE telephone = 3259909290;''')
<sqlite3.Cursor at 0x112a06500>
#Your code here; check that the duplicate entry was removed.
cur.execute("""SELECT firstName, lastName, telephone, COUNT(*) 
               FROM contactInfo
               GROUP BY 1,2,3
               HAVING COUNT(*) > 1;""").fetchall()

#SQL
# Updating an Address
# Ed Lyman just moved to 2910 Simpson Avenue York, PA 17403. Update his address accordingly.

#Your code here; update Ed's address
cur.execute('''UPDATE contactInfo
               SET street = "2910 Simpson Avenue",
                   city = 'York',
                   state = 'PA',
                   zipcode = '17403'
               WHERE firstName = "Ed" AND lastName = "Lyman";
            ''')
<sqlite3.Cursor at 0x112a06500>
#Your code here; Query the database to ensure the change was made
cur.execute("""SELECT * FROM contactInfo;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

Once again, persist your changes by committing them to the database.

#Your code here
conn.commit()